<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- CSRF -->
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta charset="UTF-8">
    <title>오늘의 음악</title>
    <!-- jquery cdn -->
    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" th:src="@{/js/TodayReply.js}"></script>
    <script type="text/javascript" th:src="@{/js/TodayReplyMore.js}"></script>

    <th:block th:replace="inc/header"></th:block>
</head>
<body>
<th:block th:replace="inc/body"></th:block>
<div class="container mt-5">
    <table class="table mt-4">
        <thead class="thead-light">
        <tr>
            <th>번호</th>
            <td th:text="${boardToday.id}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="${boardToday.todayTitle}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${boardToday.userName}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${boardToday.todayContent}"></td>
        </tr>
        <tr>
            <th>조회수</th>
            <td th:text="${boardToday.todayHits}"></td>
        </tr>
        <tr>
            <th>등록 날짜</th>
            <td th:text="${#temporals.format(boardToday.todayCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr><tr>
            <th>수정 날짜</th>
            <td th:text="${#temporals.format(boardToday.todayUpdatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
    <div>
        <a class="btn btn-primary" th:href="@{/Board/Update/{id}(id=${boardToday.id})}">글 수정</a>
        <a class="btn btn-info" th:href="@{/Board/Delete/{id}(id=${boardToday.id})}">글 삭제</a>
    </div>

    <!-- 댓글 -->
    <div class="form-group mt-5">
        <label for="replyContent"></label>
        <textarea class="form-control" name="replyContent" id="replyContent" rows="3" placeholder="내용을 입력해주세요."></textarea>
        <button class="btn btn-primary" type="button" id="submitTodayReply">댓글 등록</button>
    </div>

    <!-- 댓글 리스트 -->
    <div class="mt-5">
        <input type="hidden" id="boardToday-id" th:value="${boardToday.id}"/> <!-- 게시글 id -->
        <input type="hidden" id="user-id" th:value="${LoginId}"/> <!-- 댓글 작성자 id -->
        <input type="hidden" id="user-name" th:value="${LoginName}"/>
        <input type="hidden" id="reply-createdTime" th:value="${replyCreatedTime}"/>
<!--        <input type="hidden" id="reply-updatedTime" th:value="${replyUpdatedTime}"/>-->
        <input type="hidden" id="replyList-id" th:value="${replyList}"/>
        <!--<input type="hidden" id="replyIds" th:value="${replyIds}"/>--> <!-- 댓글 아이디 -->

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>작성자</th>
                    <th>내용</th>
                    <th>작성 시간</th>
<!--                    <th>수정 시간</th>-->
                </tr>
                </thead>
                <tbody>
                <!-- 댓글 리스트를 for-each로 반복하며 출력 -->
                <tr th:each="replyList, i : ${replyList}" th:if="${i.index < 5}" class="reply-item" th:data-reply-id="${replyList.id}">
                    <td th:text="${replyList.userName}"></td>
                    <td th:text="${replyList.replyContent}"></td>
                    <td th:text="${#temporals.format(replyList.replyCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <!-- <td th:text="${#temporals.format(replyList.replyUpdatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td> -->

                    <!-- 수정 버튼 -->
                    <td>
                        <button type="button" class="btn btn-info btn-sm replyModify">수정</button>
                    </td>

                    <!-- 삭제 버튼 -->
                    <td>
                        <button type="button" class="btn btn-danger btn-sm replyDelete">삭제</button>
                    </td>
                </tr>
                </tbody>
            </table>
        <div class="text-center">
            <button type="button" id="more-btn" class="btn btn-secondary" th:if="${replyList.size() > 5}" onclick="moreReplies()">댓글 더보기</button>
        </div>
    </div>
</div>
</body>
</html>