<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>오늘의 음악</title>
    <th:block th:replace="inc/header"></th:block>
</head>
<body>
<th:block th:replace="inc/body"></th:block>
<form action="/Board/Today" method="post">
    <div class="container mt-5">
        <table class="table mt-4">
            <thead class="thead-light">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>조회수</th>
                <th>등록 날짜</th>
                <th>수정 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boardTodayList: ${boardTodayList}">
                <td><a th:href="@{|/Board/Today/${boardTodayList.id}|}" th:text="${boardTodayList.id}"></a></td>
                <td th:text="${boardTodayList.todayTitle}"></td>
                <td th:text="${boardTodayList.userName}"></td>
                <td th:text="${boardTodayList.todayContent}"></td>
                <th th:text="${boardTodayList.todayHits}"></th>
                <td th:text="${#temporals.format(boardTodayList.todayCreatedTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${#temporals.format(boardTodayList.todayUpdatedTime, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container mt-5">
        <a class="btn btn-primary" href="/Board/TodayWrite">글작성</a>
    </div>
    <!-- 페이징 -->
    <div class="container mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:href="@{|${url}0|}" th:text="'«'"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{|${url}${currentPage - 1}|}" th:text="'‹'"></a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page-1 == currentPage} ? active : ''">
                    <a class="page-link" th:href="@{|${url}${page - 1}|}" th:text="${page}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{|${url}${currentPage + 1}|}" th:text="'›'"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{|${url}${totalPages - 1}|}" th:text="'»'"></a>
                </li>
            </ul>
        </nav>
    </div>
</form>
</body>
</html>