<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- CSRF -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title>Join</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- jquery cdn -->
    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">회원가입</h4>
                    <form onsubmit="submitChk()" action="/Login" method="post">

                        <!-- CSRF 토큰 가져옴 -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <!-- CSRF 토큰 가져옴 -->

                        <div class="form-group mb-3">
                            <label for="email">이메일</label>
                            <input type="email" class="form-control" id="email" name="email" onblur="emailCheck()">
                            <span id="check-result"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password"> <!--required-->
                            <span id="passwordCheck"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="pwchk">비밀번호 확인</label>
                            <input type="password" class="form-control" id="pwchk" name="pwchk"> <!--required-->
                            <span id="pwCheck"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="name">이름</label>
                            <input type="text" class="form-control" id="name" name="name"> <!--required-->
                            <span id="nameChk"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">전화번호</label>
                            <input type="text" class="form-control" id="phone" name="phone"> <!--required-->
                            <span id="phoneChk"></span>
                        </div>

                        <!--                    관리자 회원가입 후 유저들이 선택 못하게 주석처리 함 -->
                                                <div>
                                                    <input type="radio" name="role" value="User">유저
                                                    <input type="radio" name="role" value="Admin">관리자
                                                </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">회원가입</button>
                            <a href="/Login" class="btn btn-secondary">로그인</a>
                            <a href="/index" class="btn btn-info">홈으로</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/JoinChk.js}"></script>
<script type="text/javascript" th:src="@{/js/CSRF.js}"></script>

</html>